:root {
  --primary-color: #252422;
  --secondary-color: #eb5e28;
  --text-color: #403d39;
  --background-color: #fffcf2;
  --button-color: #eb5e28;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 100px 0;
}

.highlight {
  color: var(--secondary-color);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  margin-top: 8px;
  padding: 10px 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.btn {
  background-color: var(--button-color);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

main {
  padding: 50px 0;
}

.about,
.projects,
.contact {
  margin-bottom: 50px;
}

.project-item {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact label {
  margin-bottom: 5px;
}

.contact input,
.contact textarea {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 20px 0;
}
